@font-face {
    font-family: my_font;
    src: url("q/static/OpenSans-Bold.ttf");
}

@font-face {
    font-family: my_font_2;
    src: url("q/static/OpenSans_Condensed-Bold.ttf");
}


h1 {
    font-family: my_font;
}


p {
    font-family: my_font_2;
}

h2 > a{
    text-decoration: none;
    color: inherit;
}