* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fffff0; /* Ivory */
}

h1 {
    text-align: center;
}

.table {
    margin: auto;
    border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: center;
  /* border-radius: 5px; */
  padding: 2px;
}

.table-2 {
   margin: auto;
   margin-top: 10px;
   border-collapse: collapse;
   /* height: 100vh; */

}

.number {
    text-align: left;
    font-size: 10px;
}


.symbol {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}


.element {
    font-size: 10px;

}

